/**
 * Site header
 */
.site-header {
    border-top: 5px solid $cl-sep;
    border-bottom: 1px solid $cl-fg-lo;
    @media print {
        border-top-color: $cl-inv-sep;
        border-bottom-color: $cl-inv-fg-lo;
    }
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 42px;
    margin-bottom: 0;
    float: left;
    font-weight: bold;
    font-family: $head-font-family;

    &,
    &:visited {
        color: $cl-yellow;
        @media print { color: $cl-inv-yellow; }
    }
}

.site-nav {
    @media print { & { display: none; } }

    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $cl-fg;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $cl-bg;
        border: 1px solid $cl-fg-lo;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $cl-sep;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $cl-fg-lo;
    @media print { border-top-color: $cl-inv-fg-lo; }
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $cl-fg-dim;
    @media print { color: $cl-inv-fg-dim; }
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-nav {
    margin-top: $spacing-unit / 2;

    .prev, .dummy-prev, .next {
        float: left;
        width: 50%;
    }

    .prev {
        &::before {
            content: "\21bc ";
        }
    }
    .dummy-prev {
        height: 1px;
    }
    .next {
        text-align: right;
        &::after {
            content: " \21c0";
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

    .readmore {
        margin-top: -$spacing-unit / 2;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $cl-fg-dim;
    @media print { color: $cl-inv-fg-dim; }
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post {
    background-color: $cl-txt-bg;
    padding: $spacing-unit;
    border-left: 1px solid $cl-sep;
    border-right: 1px solid $cl-sep;
    @media print {
        background-color: transparent;
        border: none;
        padding: 0;
    }
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }

    .footnotes {
        margin-top: 2em;
        padding-top: 1em;
        border-top: 1px solid $cl-sep;
        @media print { border-color: $cl-inv-sep; }
    }
}
